body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
}

.clearfix {
  clear: both;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Navbar Styling */
.nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: yellow;
  font-size: 20px;
}
.nav li{
  display:inline;
  border-right: 1px solid red;
}
.nav a{
  display:inline-block;
  padding: 15px 35px;
  text-decoration: none;
}


/* .navbar {
  background-color: yellow;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  float: left;
  color: blue;
  text-decoration: none;
  padding: 12px 20px;
}

.navbar a {
  text-align: center;
} */

/* .navbar a {
  float: left;
  color: blue;
  text-decoration: none;
  font-size: 17px;
} */

/* Change the color of links on hover */
.navbar a:hover {
  background-color: purple;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* A-Block CSS */
/* =========================== */
.a-block {
  width: 80%;
  margin: 35px auto;
  align-content: center;
}

.a-block-image {
  width: 200px;
  float: left;
}

.a-block-text {
  float: left;
}